.DS_Store
.env
.locks/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
/src/*.egg-info/
/artifacts/build/
/artifacts/output/
/artifacts/tmp/
/artifacts/build_legacy_root/
/artifacts/output_legacy_root/
/config/local/*.json
/build/
/output/
/MTM Track and Trace.app/
